# Домашнее задание «Библиотека Pandas»

## Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd
data = pd.read_csv('ratings.csv', sep = ',')
data.query('rating == 5.0').groupby('movieId').count().sort_values('rating', ascending = False).head(1)

         userId  rating  timestamp
movieId
318         153     153        153

In [10]:
data.describe().loc[['mean', 'min', 'max']]

          userId        movieId    rating     timestamp
mean  326.127564   19435.295718  3.501557  1.205946e+09
min     1.000000       1.000000  0.500000  8.281246e+08
max   610.000000  193609.000000  5.000000  1.537799e+09

In [9]:
data.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [2]:
power = pd.read_csv('power.csv', sep = ',')
power_balt = power[(power['country'].isin(['Latvia', 'Lithuania', 'Estonia'])) &
                   (power['category'].isin([4, 12, 21])) & (power['year'] >= 2005) & 
                   (power['year'] <= 2010) & (power['quantity']) >= 0]
power_balt['quantity'].sum()

219179627208.76712

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [3]:
bet_cep = pd.read_html('https://en.wikipedia.org/wiki/Beta_Cephei_variable')[0]
bet_cep

,Designation (name),Constellation,Discovery,Maximum Apparent magnitude (mV)[15],Minimum Apparent magnitude (mV)[15],Period (hours)[13],Spectral class[13],Comment
0,β CMa,Canis Major,1909 (William Wallace Campbell[16]),1m.93,2m.00,6.031,B1II-III,"Pulsations of 6.03, 6.00, and 4.74 hours.[17]"
1,ξ1 CMa,Canis Major,[18],4m.33,4m.36,5.030,B0.5IV,NaN
2,15 CMa,Canis Major,[18],4m.79,4m.84,4.429,B1III-IV,NaN
3,V376 Car[19],Carina,NaN,4m.91,4m.96,0.4992,B2IV-V,BCEPS star
4,V372 Car,Carina,[20],5m.70,NaN,2.78,B2III,NaN
5,β Cen,Centaurus,NaN,0m.61,NaN,3.768[12],B1II,NaN
6,ε Cen,Centaurus,NaN,2m.29,2m.31,4.070,B1V,NaN
7,κ Cen,Centaurus,NaN,3m.13,3m.14,2.288,B2IV,NaN
8,χ Cen[19],Centaurus,NaN,4m.40[13],NaN,0.84,B2V,BCEPS star
9,β Cep,Cepheus,1902 (Edwin Brant Frost)[21],3m.16,3m.27,4.572,B2IIIe,Prototype
10,δ Cet,Cetus,[18],4m.05,4m.1,3.867,B2IV,NaN
11,β Cru,Crux,NaN,1m.23,1m.31,4.589,B0.5IV,NaN
12,δ Cru[15][22],Crux,NaN,2m.78,2m.84,3.625,B2IV,NaN
13,ω1 Cyg,Cygnus,NaN,4m.94,NaN,NaN,B2.5IV,confirmed on hi res spectroscopy.[22]
14,ν Eri,Eridanus,NaN,3m.87,4m.01,4.164,B2III,Multiperiodic; also a slowly pulsating B star
15,12 Lac,Lacerta,NaN,5m.16,5m.28,4.634,B1.5III,Also a slowly pulsating B star
16,16 Lac,Lacerta,NaN,5m.30 (B),5m.52 (B),4.109,B2IV,NaN
17,α Lup,Lupus,1956 (Bernard Pagel)[23],2m.29,2m.34,6.235,B1.5III,NaN
18,δ Lup[13],Lupus,NaN,3m.20,3m.24,3.972,B2IV,NaN
19,ε Lup[24],Lupus,NaN,3m.36,3m.38,2.316,B2IV + B3V,Triple star system; primary is a spectroscopic...
20,ι Lup[25],Lupus,NaN,3m.54,3m.3.55,NaN,B2.5IV,not recorded as BCEP since 1997
21,τ1 Lup[13],Lupus,NaN,4m.54,4m.58,4.257,B2IV,NaN
22,19 Mon,Monoceros,NaN,4m.96,5m.01,4.589,B1IV-Vea,NaN
23,α Mus[15],Musca,NaN,2m.68,2m.73,2.167,B2IV-V,"initially questionable, confirmed on hi res sp..."
24,θ Oph,Ophiuchus,NaN,3m.25,3m.31,3.373,B2IV,NaN
25,η Ori,Orion,NaN,3m.31,3m.35,7.247,B0.5Vea + B3V,Quadruple star; also an Algol variable; compon...
26,γ Peg,Pegasus,1953 (D. Harold McNamara),2m.78,2m.89,3.643,B2IV,Also a slowly pulsating B star
27,ε Per,Perseus,NaN,2m.88,3m.00,3.847,B0.5V,NaN
28,PT Pup,Puppis,[13],5m.72,5m.74,3.908,B2III,NaN
29,λ Sco,Scorpius,NaN,1m.59,1m.65,5.129,B1.5IV + PMS + B2IV,Triple system; also an Algol variable
30,κ Sco,Scorpius,NaN,2m.41,2m.42,4.795,B1.5III,NaN
31,σ Sco,Scorpius,1904 (Vesto Slipher),2m.86,2m.94,5.923,B1III,Quadruple system
32,Spica,Virgo,NaN,0m.85,1m.05,6.520,B1IV,Brightness variations stopped in 1970[26]
33,BW Vul,Vulpecula,NaN,6m.44,6m.68,4.8,B2IIIv,Beta Cephei variable with largest change in ra...