In [1]:
import numpy as np
import pandas as pd

In [6]:
d_3 = {'win_num': [777, 999, 555, 333, 111], 'win_sum': [200, 100, 50, 15, 10]}
win_3 = pd.DataFrame(data=d_3)
win_3

   win_num  win_sum
0      777      200
1      999      100
2      555       50
3      333       15
4      111       10

In [27]:
trials = 10000    # Количество попыток
successes = 0    # Количество успехов
win = 0

for i in range(trials):
    random_score = np.random.randint(0, 1000) # Случайное количество очков от 000 до 999
    if random_score in win_3['win_num'].tolist():
        successes += 1
        win += win_3[win_3['win_num'] == random_score]['win_sum'].tolist()[0]
        #print(win_3[win_3['win_num'] == random_score]['win_sum'].tolist(), random_score)
        
    
        
#p_monte_carlo = successes / trials    # Вероятность из моделирования
#p = 2 / 6                             # Теоретическая вероятность

print(successes, win, trials)

50 3395 10000